body{
    text-align: center;
}
.container{
    background: #252525;
    color:white;
    width: 500px;
    height: 100vh;
    margin: auto;
    color: #FFF;
    font-family: Poppins;
}

h1{
    padding: 15px; 
    font-size: 48px;
}

h2{
    font-size: 30px;
}

.tracker{
    display: flex;
    justify-content: space-around;
}

.bubble-lable{
    font-family: Poppins;
    font-size: 25px;
    margin-bottom: 5px;
}

.tracker-bubble{
    background-color: #44354A;
    width: 120px;
    height: 30px;
    border-radius: 50px ;
    margin:auto;
}

.timer{
    display: flex;
    justify-content: center;
    gap:5px;
    margin:23px;
    font-size:20px;
}

.reward-btn{
    background-color: #9E4770;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 10px ;
    margin: 5px;
}

.progress-lable{
    font-family: Poppins;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.progress-display{
    width: 400px;
    height: 40px;
    border-radius: 50px;
    background: #44354A;
    margin: auto;
}

.watched{
    display: flex;
    justify-content: center;
    gap:20px;
}

.watched-lable{
    font-size: 20px;
    margin: 10px;   
}

.watched-display{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #44354A;
}
