body{
    text-align: center;
    background: #252525;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 400px;
    height: 100vh;
    margin: auto;
    color: #FFF;
}

h1{
    padding: 15px; 
    font-size: 42px;
}

h2{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h3{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.stat-bubble{
    border-radius: 50px;
    background: #44354A;
    font-size: 20px;
    margin-top: 1px;
    padding: 4px 0;
}

.weekly-section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.weekly-stat{
    width: 100px;
}

.timer{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 23px;
    font-size: 20px;
}

.reward-btn{
    background-color: #9E4770;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 10px ;
    margin: 5px;
}

.watched{
    display: flex;
    justify-content: space-between;
}

.watched div{
    width: 49%;
}