* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #252525;
    font-family: "Poppins", sans-serif;
}


.conatiner {
    color:white;
    font-family: Poppins;

    width: 400px;
    height: 100vh;
    margin: auto;
}

/***HEADINGS***/
h1 {
    font-size: 48px;

    padding: 15px; 
}

h2 {
    font-size: 30px;
}

/***MAIN***/
/**TRACKED PROGRESS**/
.tracker {
    display: flex;
    justify-content: space-around;
}

.bubble-lable {
    font-family: Poppins;
    font-size: 25px;

    margin-bottom: 5px;
}

.tracker-bubble {
    background-color: #44354A;

    width: 120px;
    height: 30px;

    border-radius: 50px;
    margin:auto;
}

/**TIMER**/
.timer {
    display: flex;
    justify-content: center;

    font-size: 20px;

    gap: 5px;
    margin: 23px;
}

/**BUTTONS**/
.reward-btn {
    background-color: #9E4770;

    display: inline-block;

    padding: 15px 35px;
    border-radius: 10px;
    margin: 5px;
}



/**CURRENT PROGRESS**/
.progress-label {
    font-family: Poppins;
    font-size: 20px;

    margin-top: 15px;
    margin-bottom: 5px;
}

.progress-display {
    background: #44354A;

    height: 40px;

    border-radius: 50px;
    margin: auto;
}

/**WATCHED SECTION**/
.watched {

    display: flex;
    justify-content: space-between;
}

.watched div {
    width: 49%;
}

.watched-label {
    font-size: 20px;

    margin: 10px;
}

.watched-display {
    font-size: 20px;
    background-color: #44354A;
    padding: 8px 0;
    border-radius: 50px;
    margin-top: 10px;
}

/***MODAL***/
.task-completion-notification {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    color: #252525;
    font-weight: bold;

    background-color: #FFDF86;

    padding: 2rem;
    border-radius: 8px 8px 0 8px;
}


/***DESKTOP***/
@media screen and (min-width: 1200px) {
    body {
        background: #252525;
        background: conic-gradient(from 45deg, #252525, #2d1420);
    }

    /**HEADER**/
    header {
        text-align: left;
    }

    h1 {
        position: relative;

        font-size: 5rem;
        text-shadow: 0 0 10px #252525;

        margin: 0;
    }
    
    h1:before {
        content: "";
        position: absolute;
        left: 4rem;
        bottom: 2.25rem;

        background-color: #9E4770;

        height: 1rem;
        width: 50%;

        border-radius: 10px;

        z-index: -1;
    }

    /**MAIN**/
    main {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        margin: 0 1rem;
    }

    .conatiner {
        width: 90%;

        margin: 0 5%;
    }

    /*HEADINGS*/
    h2 {
        position: relative;

        font-size: 3rem;
        text-align: left;

        width: 100%;

        margin: 0;
    }

    .progress-label,
    .watched-label {
        font-size: 25px;
    }

    .progress-label {
        text-align: left;
        margin-left: 0.5em;
    }

    /*WEEKLY PROGRESS*/
    .display {
        width: 50%;

        margin-bottom: 5rem;
    }

    .tracker-bubble {
        width: 200px;
        height: 40px;
    }

    /*ACTIONS BOX*/
    .actions {
        position: absolute;
        top: 0;
        right: 0;

        background-color: #44354A;

        padding: 2rem;
        border-radius: 20px;
    }

    /*PROGRESS TOTALS*/
    .total-progress {
        width: 100%;
    }

    .progress-item {
        width: 70%;
    }

    .watched {
        width: 50%;

        margin-top: 2rem;
        gap: 4rem;
    }
}